.landing-header-background {
  background: url("images/landing-header-background.png") no-repeat center center;
  background-size: cover;
}

#contact-card {
  max-width: 90%;
}

#card-image {
  width: 20%;
  margin: 0px 10px 10px 0px;
}

/** Profile Card Style */
.profile-card {
  margin-top: 44px !important;
  padding: 0 !important;
}

.profile-header {
  font-size: 250% !important;
  font-style: italic !important;
}