@import url(https://fonts.googleapis.com/css?family=Raleway);

.landing-header-background {
  background: url("images/landing-header-background.png") no-repeat center center;
  background-size: cover;
}
/** NavBar */
.ui.tiny.image {
  width: 60px !important;
  height: auto;
}

/** Landing Page */
.landing-visuals {
  position: relative;
  height: 750px;
  background-color: rgba(14,29,42,0.05);
  font-size: 36px;
}

.visual-header {
  font-family: "Raleway", sans-serif !important;
  font-size: 75px !important;
}

.visual-subheader {
  font-family: "Raleway", sans-serif !important;
  font-size: 30px !important;
}

.visual-button {
  background-color: #024731 !important;
  border-radius: 50px !important;
}

.landing-information {
  padding: 0 25px 78px 25px !important;
}

#footer {
  margin-top: 15px;
}

#contact-card {
  max-width: 90%;
}

#card-image {
  width: 20%;
  margin: 0px 10px 10px 0px;
}

/** Profile Page */
.profile-card {
  margin-top: 10px !important;
  padding: 0 !important;
}

.profile-header {
  font-size: 250% !important;
  font-style: italic !important;
}

.profile-page {
  padding: 0 25px !important;
}

.tab-pane {
  background-color: transparent !important;
  border: none !important;
  display: contents !important;
}
